.content
  .content-header
    %h3.content-header__title Title
    = link_to 'Edit', root_path, class: "content-header__edit"
  %p.content__text
    これはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストですこれはテストテキストです
  = link_to 'COMMENT', root_path, class: "content__comment"
