.devise-body {
  display: flex;
  justify-content: space-around;
  margin: 150px 0 50px;
  &__title {
    font-size: 40px;
  }
  &__right {
    padding-right: 100px;
    .field {
      margin-bottom: 15px;
      .devise_field {
        width: 60vw;
        height: 40px;
      }
    }
  }
}

.devise-links {
  border: 1px solid green;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  &__link {
    font-size: 20px;
    text-decoration: none;
    color: #f6ad49;
  }
}
